<section>
  <h2>About The Evapotranspiration Project</h2>
  <p>The Evapotranspiration Project grew out of a larger research paper at LBNL researching the feasability of a broad increase in biofuel feedstocks.</p>
  <h2>Funding</h2>
  <p>Funding for The Evapotranspiration Project has come from Lawrence Berkeley National Laboratory's LDRD program, which aims to encourage LBNL's scientists and researchers to pursue otherwise unfunded projects that align with the Environmental Energy Technologies Division's goals.</p> 
  <h2>Researchers</h2>
  <dl>
    <dt>Katie Coughlin</dt>
    <dd>Katie Coughlin earned her M.A. and Ph.D. in physics at Harvard University. Her colleagues have found this to be surpisingly useful to them. At Lawrence Berkeley National Laboratory she manages several projects for the Appliance Standards group, as well as several of her own research projects.</dd>
    <dt>David Fridley</dt>
    <dd>David Fridley works primarily with the China Energy Group, a research group at Lawrence Berkeley National Laboratory focusing on ... energy in China ...? He has lent his extensive knowledge of energy issues and global politics, as well his expert agricultural knowledge, to the project.</dd>
    <dt>Andrew Sturges</dt>
    <dd>Andrew studied music at UC Berkeley and spent several years in arts management before switching careers and joining Lawrence Berkeley National Lab. In The Evapotranspiration Project, Andrew has worked primarily as a programmer and Penman-Monteith enthusiast, occasionally contributing meaningful content, but usually only by accident. He currently studies in the Nicholas School of the Environment at Duke University.</dd>
  </dl>
  <h2>About LBNL</h2>
  <p>Lawrence Berkeley National Laboratory is a U.S. Department of Energy Laboratory dedicated to the.... Located in Berkeley, CA and closely affiliated with the University of California, LBNL draws scientific talent from all over the world to engage in ....</p>
</section>
