<section>
  <h2>About The Evapotranspiration Project</h2>
  <p>The Evapotranspiration Project grew out of a larger research paper at LBNL researching the feasability of a broad increase in biofuel feedstocks. This part of the project sought to answer the question "How much biofuel feedstock could the U.S. reasonably grow if demand were unlimited?"</p>
  <p>In the hypothetical scenario of robust feedstock prices and unlimited       demand, feedstock would be limited by a few important constraints:</p>
  <ul>
    <li>Crop land (land cannot be created)</li>
    <li>Price (new crops must compete economically with existing crops)</li>
    <li>Water (a finite water supply means feedstocks can only grow where their  irrigation needs are met)</li>
  </ul>
  <p>In the Reference Evapotranspiration Project, we focus on this last point:   water. Specifically, we'd like to know how much water a particular crop needs in a particular location in the U.S. To answer this, we draw on the concept of      evapotranspiration.</p>
  <p>Evapotranspiration tells us how much water a plant loses in a given time    period. For example, the crop evapotranspiration of wheat in Washington in April is 57.43 mm, meaning it loses 57.43 mm of water per unit area. This is how much  water needs to be replaced through precipitation and irrigation.
  <p>With weather data from the National Renewable Energy Laboratory, we use the Penman-Monteith equation to estimate evapotranspiration for various regions      around the U.S. The results are presented briefly in the table below. For more   information about how we produced this data and what it means, see the links in  the navigation menu above.</p>

  <h2>Funding</h2>
  <p>Funding for The Evapotranspiration Project has come from Lawrence Berkeley National Laboratory's LDRD program, which aims to encourage LBNL's scientists and researchers to pursue otherwise unfunded projects that align with the goals of the Environmental Energy Technologies Division.</p> 
  <h2>Authors</h2>
  <dl>
    <dt>Katie Coughlin</dt>
    <dd>Katie Coughlin earned her M.A. and Ph.D. in physics at Harvard University. Her colleagues have found this to be surpisingly useful to them. At Lawrence Berkeley National Laboratory she manages several projects for the Appliance Standards group, as well as several of her own research projects.</dd>
    <dt>David Fridley</dt>
    <dd>David Fridley works primarily with the China Energy Group, a research group at Lawrence Berkeley National Laboratory focusing on ... energy in China ...? He has lent his extensive knowledge of energy issues and global politics, as well his expert agricultural knowledge, to the project.</dd>
    <dt>Andrew Sturges</dt>
    <dd>Andrew studied music at UC Berkeley and spent several years in arts management before switching careers and joining Lawrence Berkeley National Lab. In The Evapotranspiration Project, Andrew has worked primarily as a programmer and Penman-Monteith enthusiast, occasionally contributing meaningful content, but usually only by accident. He currently studies in the Nicholas School of the Environment at Duke University.</dd>
  </dl>
  <h2>About LBNL</h2>
  <p>Lawrence Berkeley National Laboratory is a U.S. Department of Energy Laboratory dedicated to the.... Located in Berkeley, CA and closely affiliated with the University of California, LBNL draws scientific talent from all over the world to engage in ....</p>
</section>
