<section>
  <h2>How is reference evapotranspiration calculated?</h2>
  <p>One could calculate reference evapotranspiration using one of several differnt methods. In this project, we exclusively use the Penman-Monteith equation, strictly as outlined by the United Nations' Food and Agriculture Organization in <a href="#">FAO 56</a>.</p>
  <h2>The Penman-Monteith Equation</h2>
  <p>The Penman-Monteith equation models reference evapotranspiration over any time period (hourly, daily, monthly) using the following inputs:</p>
  <ul>
    <li>Net Solar Radiation</li>
    <li>Temperature</li>
    <li>Wind Speed</li>
    <li>Atmospheric evaporative capacity</li>
    <li>Delta</li>
    <li>gamma</li>
    <li>G</li>
  </ul>

  <p>FAO paper 56 describes methods to arrive at these terms using these primary inputs:</p>
  <ul>
    <li>Month</li>
    <li>Day</li>
    <li>Hour</li>
    <li>Temperature (Celsius)</li>
    <li>Dew point (Celsius)</li>
    <li>Wind Speed (meters per second))</li>
    <li>Elevation (meters)</li>
    <li>Latitude (degrees north)</li>
  </ul> 
</section>
