<section>
  <p>Three researchers at Lawrence Berkeley National Laboratory started The Reference Evapotranspiration Project to answer the question "How much biofuel feedstock could the U.S. reasonably grow if demand were unlimited?"</p>
  <p>In the hypothetical scenario of robust feedstock prices and unlimited demand, feedstock would be limited by a few important constraints:</p>
  <ul>
    <li>Crop land (land cannot be created)</li>
    <li>Price (new crops must compete economically with existing crops)</li>
    <li>Water (a finite water supply means feedstocks can only grow where their irrigation needs are met)</li>
  </ul>
  <p>In the Reference Evapotranspiration Project, we focus on this last point: water. Specifically, we'd like to know how much water a particular crop needs in a particular location in the U.S. To answer this, we draw on the concept of evapotranspiration.</p>
  <p>Evapotranspiration tells us how much water a plant loses in a given time period. For example, the crop evapotranspiration of wheat in Washington in April is 57.43 mm, meaning it loses 57.43 mm of water per unit area. This is how much water needs to be replaced through precipitation and irrigation.
  <p>With weather data from the National Renewable Energy Laboratory, we use the Penman-Monteith equation to estimate evapotranspiration for various regions around the U.S. The results are presented briefly in the table below. For more information about how we produced this data and what it means, see the links in the navigation menu above.</p>
</section>
