<section>
<p>The table below presents the results of The Reference Evapotranspiration Project.
Reference evapotranspiration (ET<sub>0</sub>) is calculated using the Penman-Monteith equation according to methods laid out by the United Nations' Food and Agriculture Organization in <a href="#">FAO 56</a>.
Results are presented for the 48 continental U.S. states, including sub-regions where appropriate.
Weather data comes from the <a href="nrel.gov">National Renewable Energy Laboratory</a>'s <a href="3">TMY3</a> data set.</p>
  <table>
    <caption>Monthly Evapotranspiration by State (mm/month)</caption>
     <thead>
       <tr>
         <th>State</th>
         <th>1</th>
         <th>2</th>
         <th>3</th>
         <th>4</th>
         <th>5</th>
         <th>6</th>
         <th>7</th>
         <th>8</th>
         <th>9</th>
         <th>10</th>
         <th>11</th>
         <th>12</th>
       </tr> 
     </thead>
     <tbody>
       <tr>
         <td>Alabama</td>
         <td>23.53</td>
         <td>23.53</td>
         <td>23.53</td>
         <td>23.53</td>
         <td>23.53</td>
         <td>23.53</td>
         <td>23.53</td>
         <td>23.53</td>
         <td>23.53</td>
         <td>23.53</td>
         <td>23.53</td>
         <td>23.53</td>
      </tr>
      <tr> 
        <td>Arkansas</td>
        <td>24.52</td>
        <td>24.52</td>
        <td>24.52</td>
        <td>24.52</td>
        <td>24.52</td>
        <td>24.52</td>
        <td>24.52</td>
        <td>24.52</td>
        <td>24.52</td>
        <td>24.52</td>
        <td>24.52</td>
        <td>24.52</td>
      </tr>
    </tbody>
  </table>
</section>
