<!doctype html>
<head>
  <link rel='stylesheet' type='text/css' href='/blueprint/screen.css' />
  <link rel='stylesheet' type='text/css' href='custom.css' />
</head>
<body class="container">
  <header>
    <h1>The Reference Evapotranspiration Project</h1>
    <nav>
      <ul>
        <li><a href="#">What is Reference Evapotranspiration?</a></li>
        <li><a href="#">What is Evapotranspiration Used For?</a></li>
        <li><a href="#">About this project</a></li>
        <li><a href="#">About LBNL</a></li>
      </ul>
    </nav>
    </header>
    <%= yield %>
    <footer>
      <p>Copyright 2011, Katie Coughlin</p>
  </footer>
</body>
</html>

