html {
  font-size: 120%;
}

body {
  padding: 1em;
  border-style: solid;
  border-color: green;
  border-width: 0 1px 1px 1px;
}

header {
  text-align: center;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline;
  padding: 0 0.3em 0 0.3em;
}

header ul li a {
  text-decoration: none;
}

h1 {
  color: green;
  padding: 0.5em 0 0 0;
}

.equation {
  text-align: center;
  font-size: 140%;
}

footer p {
  text-align: center;
  margin-bottom: 0;
}
