/* Todo: 
  left-hand navigation, 
  top-left picture of grass growing with thick border, 
  intelligent color choices (green dominant), 
  dark gray instead of black. 
  Layout first, then add color. 
  Use rounded corners. 
  Gradiant across the top for web 2.0 authenticity. 
  Plenty of whitespace. See page 89 (mozilla and new bamboo). 
  Drop shadows, focal points, scan lines on page 96. 
  Appropriately larger leading to increase readability (may have been taken care of by BluePrintCSS). 
  Images from Stock.XCHNG, restriction-free, or MorgeFile.com.
*/

html {
  font-size: 120%;
}

body {
  padding: 1em;
  border-style: solid;
  border-color: green;
  border-width: 0 1px 1px 1px;
}

header {
  text-align: center;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline;
  padding: 0 0.3em 0 0.3em;
}

header a {
  text-decoration: none;
}

h1 {
  color: green;
  padding: 0.5em 0 0 0;
}

.equation {
  text-align: center;
  font-size: 140%;
}

footer p {
  text-align: center;
  margin-bottom: 0;
}
